@CHARSET "UTF-8";


div#päis {
	display: none;
}

div#meldi {
	display: none;
}

#päis h1 {
	display: none;
}

div#navigatsioon {
	display: none;
}

div#menu {
	display: none;
}

div#inline {
	display: none;
}